<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="directorioEntities" connectionString="metadata=res://*/DirectorioModel.csdl|res://*/DirectorioModel.ssdl|res://*/DirectorioModel.msl;provider=System.Data.SQLite;provider connection string='data source=&quot;C:\Users\Daniel\Documents\UNITEC\Documents\Desarrollo de Aplicaciones Web\Proyecto Directorio Web\DirectorioInteractivo\DirectorioInteractivoWS\App_Data\directorio.db&quot;'" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>